*{
    font-family:"Open Sans", sans-serif;
    padding: 0;
    margin: 0;

}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.landing{
    background-image: url("../imgs/background.png");
    background-size: cover;
    background-color: #0b0625;   
}
.landing .heading{
    color: #ffffff;
    margin: 0px 30px 0px 160px;
    padding: 70px 0px 40px 0px;
}
.landing .heading h1{
    font-weight: 800;
    font-size: 60px;
    text-transform:capitalize;
    max-width: 35%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.landing .heading p{
    padding-bottom: 25px;
    max-width: 35%;
    color: #c5c2c2;    
}

.landing .heading .btn{
    margin-bottom: 50px;
}

.landing .heading .btn button {
    color: #ffff;
    font-weight: bolder;
    padding : 6px 20px ;
    width: auto;
    height: auto;
    border:1px solid white;
    border-radius: 25px;
    transition: .3s;
    margin-right: 5px;
    background-color: transparent;
} 

.landing .heading .btn button:hover{
    background-color: rgb(61, 38, 205);
}

.heading h1 ,h4{
    color:#ffffff;
}   




.landing .container .content{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 25px;
    /* padding:0px 50px 40px 50px; */
    margin: 0px 30px 70px 160px;
    padding: 40px 0px 100px 0px;

}

.landing .container .content .box{
    height: 280px;
    border: 1px solid #575656 ;
    padding: 15px 15px 35px 15px;
    
}
.landing .container .content .box img {
    padding: 10px 0px 25px 12px;
}
.landing .container .content .box h3, p {
    padding: 10px 0px 6px 12px;
}

.landing .container .content .box p {
    line-height: 1.7;
}



@media (max-width: 767px) {
    .landing .heading {
        padding-left: 10px;
        margin-left: 10px;
    }
    .landing .heading h1 {
        font-size: 28px;
        max-width: 100%;
    }
    .landing .heading p {
        max-width: 100%;
    }
    .landing .container .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 140px auto;
    }
    .landing .container .content .box {
        width: 80%; /* Adjust the width as needed */
    }
}
.animals{
    margin: 0px 30px 12px 160px;
    padding: 0px 0px 40px 0px;


}

.animals .container .heading{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
}
.animals .container nav{
    color: #575656;
    display: flex;
    margin-bottom: 50px;

}
.animals .container nav ul{
    display: flex;
}
.animals .container nav ul li {
    list-style:none;

    padding-left:20px;
}   
.animals .container nav ul li a{
    color: #575656;
    text-decoration: none;
    transition: 0.3s;
    
}
.animals .container nav ul li a:hover{
    color:rgba(66, 0, 180, 0.982); 
    font-weight: bold;

}
.animals .container .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
    gap: 10px;
}
.animals .container .cards .card{
    border: 0.5px solid #a2a2a2;
    max-height: 200px;
    display: flex;
    border-radius: 25px;
    margin: 0 20px 20px 0px;
}
.animals .cards .card .img {
    height: 100%;
    border-radius: 25px 0 0 25px;
    /* width: 20%; */
}
.animals .container .cards .card .card-content{
    margin: 15px 5px 15px 30px;
}
.animals .container .card-heading{
    display: flex;
}
.animals .container .card-heading h3{
    font-size: 24px;
    padding: 0px 15px 0 0;
}
.animals .container .card-content .describtion{
    color:#575656;
    line-height: 1.9;
    max-width: 80%;
}


.animals .container .card-content .describtion .years{

    padding: 20px 0;
    color:#888888;
    font-size: 10px;
}
@media (max-width: 767px) {
    .animals {
        margin: 0px auto;
        padding: 0px 15px 40px 15px;
    }
    .animals .container .heading{
        font-size: 24px;
        text-align: center;
        
    }
    .animals .container nav{
        margin-left:18px; 
    }
    .animals .container .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 140px auto;
    }
    .animals .container .cards .card {
        flex-direction: column;
        margin: 0 auto;
        padding-bottom: 12px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .animals .container .cards .card .img{
        height: 50%;
        /* display: none; */
    }
    .animals .container .cards .card .card-content{
       
    }
}
    


